
<% if @current_user && @current_user.admin %>

<div class='container'>
  <div class='row text-center'>
          <div class='col-md-12'>
                <h2>All the users:</h2>
              </div>
          </div>


      <% @users.each do |user| %>
      <div class='col-md-4'>
        <div class="stepsDetailsShow specialForm">

            <h5>Username: <span><%= link_to( user.name, user_path(user) ) %></span></h5>
            <h5>Email: <span><%= user.email %></span></h5>
            <%= link_to(image_tag( user.image, :class => 'thumbnail'), user) %>

        </div>
      </div>


      <% end %>

      <% else %>

        <div class='row text-center'>
                <div class='col-md-12'>
            <h3>Hello, how are you today?</h3>
            <h4>Select the links above to login or to create an account.</h4>
          </div>
        </div>

      </div>
<% end %>
